<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    <div class="hero">
      <div class="logo"><p>bookr.</p></div>
      <div class="logout"><a href="{{ url_for('auth.logout') }}">logout</a></div>
    </div>


    {{ tits }}

    {% block top_section %}

    {% endblock top_section %}


    {% block container %}





    {% endblock container %}


  </body>
</html>
