{% extends 'base.html' %}

{% block content %}

<form action="" method="POST">

    {{ form.hidden_tag() }}

    <p>{{ form.searchQuery.label }}<br>
        {{ form.searchQuery }}<br>
        {% for error in form.searchQuery.errors  %}
        [ {{ error }} ]
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>

</form>
<hr>

{% for i in results  %}

<ul>
    <li>ISBN: {{ i.isbn }}</li>
    <li>Author: {{ i.author }}</li>
    <li>Title: {{ i.title }}</li>
</ul>
{% endfor %}
<!-- {% for i in author  %}

<ul>
    <li>ISBN: {{ i.isbn }}</li>
    <li>Author: {{ i.author }}</li>
    <li>Title: {{ i.title }}</li>
</ul>
{% endfor %}
{% for i in titles  %}

<ul>
    <li>ISBN: {{ i.isbn }}</li>
    <li>Author: {{ i.author }}</li>
    <li>Title: {{ i.title }}</li>
</ul>



{% endfor %} -->
{% endblock content %}