{% extends '_base.html' %}

{% block form %}

<form class="login-form" action="" method="POST">
    {{ form.hidden_tag() }}
    <!-- <input id="username" type="text" name="name" placeholder="username" autofocus="autofocus" /> -->

    {{ form.username(size=32, class_="inputFields", placeholder="username") }}
    {% for error in form.username.errors  %}
         {{ error }}
        {% endfor %}
    {{ form.password(size=64, class_="inputFields", placeholder="password") }}
    {% for error in form.password.errors  %}
        {{ error }}
        {% endfor %}


    <input type="checkbox" id="remember-me" name="remember-me" value="true">
    <p id="rememberme">Remember Me</p>
    <a id="forgotpass" href="#">Forgot Password?</a>
    {{ form.submit(class_="button") }}
    <a id="new-user" href="{{ url_for('auth.signup') }}">New User? Sign Up</a>


  </form>

{% endblock form %}