{% extends '_base.html' %}

{% block form %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

        {{ form.username(size=32, class_="inputFields", placeholder="username") }}
        {% for error in form.username.errors  %}
        {{ error }}
        {% endfor %}

        {{ form.email(size=120, class_="inputFields", placeholder="email") }}
        {% for error in form.email.errors  %}
        {{ error }}
        {% endfor %}


        {{ form.password(size=64, class_="inputFields", placeholder="password") }}
        {% for error in form.password.errors  %}
        {{ error }}
        {% endfor %}

        {{ form.password2(size=64, class_="inputFields", placeholder="confirm password") }}
        {% for error in form.password.errors  %}
        {{ error }}
        {% endfor %}

        {{ form.submit(class_="button") }}
        <a id="new-user" href="{{ url_for('auth.login') }}">Existing User? Sign In</a>
</form>

{% endblock form %}