<title>{{ title }} </title>

{% with messages = get_flashed_messages()  %}
{% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
{% endwith %}

{% block header %}
<ul>
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
    {% endif %}
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% endif %}



</ul>
{% endblock header %}



{% block content %}
{% endblock content %}

{% block footer %}

{% endblock footer %}